-- DropForeignKey
ALTER TABLE "Author" DROP CONSTRAINT "Author_id_fkey";

-- DropForeignKey
ALTER TABLE "AuthorsOnPads" DROP CONSTRAINT "AuthorsOnPads_authorId_fkey";

-- DropForeignKey
ALTER TABLE "AuthorsOnPads" DROP CONSTRAINT "AuthorsOnPads_padId_fkey";

-- DropForeignKey
ALTER TABLE "Comment" DROP CONSTRAINT "Comment_padId_fkey";

-- DropForeignKey
ALTER TABLE "Comment" DROP CONSTRAINT "Comment_userId_fkey";

-- DropForeignKey
ALTER TABLE "PadsOnSeries" DROP CONSTRAINT "PadsOnSeries_padId_fkey";

-- DropForeignKey
ALTER TABLE "PadsOnSeries" DROP CONSTRAINT "PadsOnSeries_seriesId_fkey";

-- DropForeignKey
ALTER TABLE "Series" DROP CONSTRAINT "Series_ownerId_fkey";

-- AlterTable
ALTER TABLE "Pad" ADD COLUMN     "genreName" TEXT,
DROP COLUMN "published",
ADD COLUMN     "published" TIMESTAMP(3);

-- CreateTable
CREATE TABLE "Genre" (
    "name" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "Genre_name_key" ON "Genre"("name");

-- AddForeignKey
ALTER TABLE "Pad" ADD CONSTRAINT "Pad_genreName_fkey" FOREIGN KEY ("genreName") REFERENCES "Genre"("name") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PadsOnSeries" ADD CONSTRAINT "PadsOnSeries_padId_fkey" FOREIGN KEY ("padId") REFERENCES "Pad"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PadsOnSeries" ADD CONSTRAINT "PadsOnSeries_seriesId_fkey" FOREIGN KEY ("seriesId") REFERENCES "Series"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Series" ADD CONSTRAINT "Series_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "Author"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_padId_fkey" FOREIGN KEY ("padId") REFERENCES "Pad"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuthorsOnPads" ADD CONSTRAINT "AuthorsOnPads_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "Author"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuthorsOnPads" ADD CONSTRAINT "AuthorsOnPads_padId_fkey" FOREIGN KEY ("padId") REFERENCES "Pad"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Author" ADD CONSTRAINT "Author_id_fkey" FOREIGN KEY ("id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

